.DS_Store
*.swp
*~
.vscode
.idea
docs
.eslintcache
*.sublime-workspace
node_modules/
npm-error.log*
npm-debug.log*
yarn-error.log*
yarn-debug.log*
lerna-debug.log
dump.rdb
yarn.lock
**/package-lock.json
/packages/*/lib/
/packages/*/node_modules/
/packages/*/package-lock.json
coverage
